.gap-10 {
	gap: 10px;
}

.px-40 {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.py-20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.w-full {
	width: 100%;
}

.w-80 {
	width: 80%;
}

.m-auto {
	margin: auto;
}

.lh-20 {
	line-height: 20px ;
}

.lh-30 {
	line-height: 30px ;
}

.max-w-200 {
	max-width: 200px !important;
}

.max-w-400 {
	max-width: 400px !important;
}