.flex-spacer {
	flex: 1 1 auto;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.column-x-center {
	display: flex;
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.justify-right {
	justify-content: right;
}

.text-center {
	text-align: center;
}